/*
.DS_Store
!.vscode
!CascadiaCode
!Modules/
Modules/*
!Modules/orgComputer
!Modules/orgGroup
!Modules/orgGroupMember
!Modules/orgPassword
!Modules/orgUser
!Modules/orgUserExpiry
!Modules/orgUserPasswordExpiry
!Modules/ToshibaWarranty
!.gitignore
!install.ps1
!Microsoft.PowerShell.code-workspace
!Microsoft.VSCode_profile.ps1
!Module.psm1
!plaster.ps1
!PlasterManifest.xml
!playground.ps1
!PSScriptAnalyzerSettings.psd1
!settings.json