/*
.DS_Store
!.vscode
!.gitignore
!install.ps1
!Microsoft.PowerShell_profile.ps1
!Microsoft.PowerShell.code-workspace
!Microsoft.VSCode_profile.ps1
!Module.psm1
!plaster.ps1
!powershell.json
!PSScriptAnalyzerSettings.psd1
!PlasterManifest.xml
!playground.ps1
/bin
/Modules
!/Modules/orgComputer/*
!/Modules/orgUserExpiry/*
