/*
!.bashrc
!.gitattributes
!.gitignore
!git-prompt.sh
!.vscode
!Modules/
Modules/*
!Modules/ActiveDirectory
!Modules/Computer
!Modules/FileSystem
!Modules/Templates
!Scripts/
Scripts/*
!Scripts/COMPAT_LAYER.ps1
!Scripts/test.ps1
!init.ps1
!LICENSE
!Microsoft.VSCode_profile.ps1
!Module.psm1
!PlasterManifest.xml
!PSScriptAnalyzerSettings.psd1
!README.md
!settings.json
!WindowsPowerShell.code-workspace